* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: rgb(220, 242, 252);
    padding: 0 10px 0 10px;
}

#navbar ul li {
    margin: 1rem 0 1rem 0;

}

#navbar ul li a {
    color: black;
    border: 1px solid black;
    background-color: rgb(157, 180, 255);
    padding: 0.2em 0.4em;
    border-radius: 20%;
}

@media screen and (min-width: 48em) {
    #navbar ul {
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
    }
}



